NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/filmora?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5433/filmora

JWT_SECRET=change_me_to_a_long_random_string
ACCESS_TOKEN_EXPIRES_IN=7h
REFRESH_TOKEN_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3001,http://localhost:3002
CLIENT_URL=http://localhost:3001

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
EMAIL_FROM_NAME=Filmora
EMAIL_FROM_ADDRESS=noreply@filmora.com
